{% extends 'base.html' %}

{% block body %}
    <h1>{{ character.name }}</h1>
    <div class="row">
        <div class="col-xs-10">
            <h4>{{ character.description }}</h4>
            <h2>Stats</h2>
            <ul>
                <li>
                    <h4>Health | {{ character.health }}</h4>
                </li>
                <li><h4>Health Regen | {{ character.health_regen }}</h4></li>
                <li><h4>Damage | {{ character.damage }}</h4></li>
                <li><h4>Speed | {{ character.speed }}</h4></li>
                <li><h4>Armor | {{ character.armor }}</h4></li>
            </ul>
        </div>
        <br>
        {% if character.challenge_id %}
            <div class="col-xs-8">
                <h2>Challenge</h2>
                <h4>{{ challenges[character.challenge_id - 1].name }}</h4>
            </div>
            <br>
        {% endif %}
        <div class="col-xs-8">
            <h1>Abilites</h1>
            <hr>
            <h2>Primary</h2>
            <ul>
            {% for ability in abilities %}
            {% if ability.type == 'Primary' %}
            <li>
                <h3>{{ ability.name }}</h3>
                <h4>{{ ability.description }}</h4>
            </li>
            {% endif %}
            {% endfor %}
            <br>
            <br>
            </ul>
            <h2>Secondary</h2>
            <ul>
            {% for ability in abilities %}
            {% if ability.type == 'Secondary' %}
            <li>
                <h3>{{ ability.name }}</h3>
                <h4>{{ ability.description }}</h4>
            </li>
            {% endif %}
            {% endfor %}
            <br>
            <br>
            </ul>
            <h2>Utility</h2>
            <ul>
            {% for ability in abilities %}
            {% if ability.type == 'Utility' %}
            <li>
                <h3>{{ ability.name }}</h3>
                <h4>{{ ability.description }}</h4>
            </li>
            {% endif %}
            {% endfor %}
            <br>
            <br>
            </ul>
            <h2>Special</h2>
            <ul>
            {% for ability in abilities %}
            {% if ability.type == 'Special' %}
            <li>
                <h3>{{ ability.name }}</h3>
                <h4>{{ ability.description }}</h4>
            </li>
            {% endif %}
            {% endfor %}
            <br>
            <br>
            <h2>Passive</h2>
            <ul>
            {% for ability in abilities %}
            {% if ability.type == 'Passive' %}
            <li>
                <h3>{{ ability.name }}</h3>
                <h4>{{ ability.description }}</h4>
            </li>
            {% endif %}
            {% endfor %}
            <br>
            <br>
            </ul>
        </div>
    </div>
{% endblock %}