<html>
    <head>
        <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
        <title>RoR2-Guide</title>
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">

                <h1>Unofficial Risk of Rain 2 Guide</h1>

                <a href="/main" class="btn btn-lg btn-primary">Enter</a>
            </div>
        </div>

        <footer></footer>
    </body>
</html>